# Data Exploration

### Imports

In [149]:
import pandas as pd
import numpy as np
from tqdm import tqdm
import matplotlib.pyplot as plt
import seaborn as sns

<div class="alert alert-block alert-warning">
<b>Dask:</b> Multiprocessing package that can be used for (almost all) Pandas & Scikit-learn functionality.
 Ships with Anaconda, but not with MiniConda.
</div>

In [150]:
# from sklearn.grid_search import GridSearchCV
#from dklearn.grid_search import GridSearchCV   # voorbeeld van dklearn => dit gaan we zeker nodig hebben bij hyperopt etc.
# from dask.distributed import Client
# client = Client() # often http://localhost:8787/status

### Load Data In

In [151]:
path_dominic = 'C:/Users/doist/OneDrive/Documenten/Business Analytics/Master/Year 1/Data Mining Techniques/Assignment 2/Data/'
path_titus = '2nd-assignment-dmt-2021/'

use_dominic = False
dir = path_dominic if use_dominic else path_titus

df = pd.read_csv(dir+'training_set_VU_DM.csv', parse_dates=['date_time'])
display(df)

,srch_id,date_time,site_id,visitor_location_country_id,visitor_hist_starrating,visitor_hist_adr_usd,prop_country_id,prop_id,prop_starrating,prop_review_score,...,comp6_rate_percent_diff,comp7_rate,comp7_inv,comp7_rate_percent_diff,comp8_rate,comp8_inv,comp8_rate_percent_diff,click_bool,gross_bookings_usd,booking_bool
0,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,893,3,3.5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0,NaN,0
1,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,10404,4,4.0,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0,NaN,0
2,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,21315,3,4.5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0,NaN,0
3,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,27348,2,4.0,...,NaN,NaN,NaN,NaN,-1.0,0.0,5.0,0,NaN,0
4,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,29604,4,3.5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4958342,332785,2013-06-30 19:55:18,5,219,NaN,NaN,219,77700,3,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0
4958343,332785,2013-06-30 19:55:18,5,219,NaN,NaN,219,88083,3,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0
4958344,332785,2013-06-30 19:55:18,5,219,NaN,NaN,219,94508,3,3.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0
4958345,332785,2013-06-30 19:55:18,5,219,NaN,NaN,219,128360,3,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,157.84,1
4958346,332785,2013-06-30 19:55:18,5,219,NaN,NaN,219,134949,3,2.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0

In [152]:
mem_size = df.memory_usage(index=True).sum() / 1_024**2

print(f"Size in Memory: {mem_size:.0f} MB")

Size in Memory: 2043 MB

In [153]:
# Inspect inferred types
display(df.dtypes)

# Inspect numerical ranges
display(df.describe())
# print('Min. Values')
# print(df.min())
#
# print('Max. Values')
# print(df.max())

srch_id                                 int64
date_time                      datetime64[ns]
site_id                                 int64
visitor_location_country_id             int64
visitor_hist_starrating               float64
visitor_hist_adr_usd                  float64
prop_country_id                         int64
prop_id                                 int64
prop_starrating                         int64
prop_review_score                     float64
prop_brand_bool                         int64
prop_location_score1                  float64
prop_location_score2                  float64
prop_log_historical_price             float64
position                                int64
price_usd                             float64
promotion_flag                          int64
srch_destination_id                     int64
srch_length_of_stay                     int64
srch_booking_window                     int64
srch_adults_count                       int64
srch_children_count                     int64
srch_room_count                         int64
srch_saturday_night_bool                int64
srch_query_affinity_score             float64
orig_destination_distance             float64
random_bool                             int64
comp1_rate                            float64
comp1_inv                             float64
comp1_rate_percent_diff               float64
comp2_rate                            float64
comp2_inv                             float64
comp2_rate_percent_diff               float64
comp3_rate                            float64
comp3_inv                             float64
comp3_rate_percent_diff               float64
comp4_rate                            float64
comp4_inv                             float64
comp4_rate_percent_diff               float64
comp5_rate                            float64
comp5_inv                             float64
comp5_rate_percent_diff               float64
comp6_rate                            float64
comp6_inv                             float64
comp6_rate_percent_diff               float64
comp7_rate                            float64
comp7_inv                             float64
comp7_rate_percent_diff               float64
comp8_rate                            float64
comp8_inv                             float64
comp8_rate_percent_diff               float64
click_bool                              int64
gross_bookings_usd                    float64
booking_bool                            int64
dtype: object

,srch_id,site_id,visitor_location_country_id,visitor_hist_starrating,visitor_hist_adr_usd,prop_country_id,prop_id,prop_starrating,prop_review_score,prop_brand_bool,...,comp6_rate_percent_diff,comp7_rate,comp7_inv,comp7_rate_percent_diff,comp8_rate,comp8_inv,comp8_rate_percent_diff,click_bool,gross_bookings_usd,booking_bool
count,4.958347e+06,4.958347e+06,4.958347e+06,251866.000000,252988.000000,4.958347e+06,4.958347e+06,4.958347e+06,4.950983e+06,4.958347e+06,...,96174.000000,315348.000000,356422.000000,138515.000000,1.916654e+06,1.987503e+06,614730.000000,4.958347e+06,138390.000000,4.958347e+06
mean,1.663666e+05,9.953133e+00,1.753405e+02,3.374334,176.022659,1.739739e+02,7.007918e+04,3.180525e+00,3.777777e+00,6.346994e-01,...,17.250473,0.145969,0.083202,19.433267,-6.089936e-02,9.962752e-03,22.430384,4.474858e-02,386.283316,2.791051e-02
std,9.611223e+04,7.646890e+00,6.591625e+01,0.692519,107.254493,6.834525e+01,4.060992e+04,1.051024e+00,1.050329e+00,4.815144e-01,...,31.160313,0.578202,0.316722,54.370221,4.691723e-01,2.029142e-01,895.965854,2.067514e-01,821.190577,1.647165e-01
min,1.000000e+00,1.000000e+00,1.000000e+00,1.410000,0.000000,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,2.000000,-1.000000,-1.000000,2.000000,-1.000000e+00,-1.000000e+00,2.000000,0.000000e+00,0.000000,0.000000e+00
25%,8.293600e+04,5.000000e+00,1.000000e+02,2.920000,109.810000,1.000000e+02,3.501000e+04,3.000000e+00,3.500000e+00,0.000000e+00,...,6.000000,0.000000,0.000000,7.000000,0.000000e+00,0.000000e+00,7.000000,0.000000e+00,124.000000,0.000000e+00
50%,1.665070e+05,5.000000e+00,2.190000e+02,3.450000,152.240000,2.190000e+02,6.963800e+04,3.000000e+00,4.000000e+00,1.000000e+00,...,11.000000,0.000000,0.000000,12.000000,0.000000e+00,0.000000e+00,11.000000,0.000000e+00,218.400000,0.000000e+00
75%,2.497240e+05,1.400000e+01,2.190000e+02,3.930000,213.490000,2.190000e+02,1.051680e+05,4.000000e+00,4.500000e+00,1.000000e+00,...,18.000000,1.000000,0.000000,20.000000,0.000000e+00,0.000000e+00,17.000000,0.000000e+00,429.790000,0.000000e+00
max,3.327850e+05,3.400000e+01,2.310000e+02,5.000000,1958.700000,2.300000e+02,1.408210e+05,5.000000e+00,5.000000e+00,1.000000e+00,...,1620.000000,1.000000,1.000000,9900.000000,1.000000e+00,1.000000e+00,149400.000000,1.000000e+00,159292.380000,1.000000e+00

In [154]:
# data types

# # memory + speed improvements
# optimal_dtypes = {'srch_id': np.uint32,
#                   'site_id': np.uint32,
#                   'visitor_location_country_id': np.uint8,
#                   'prop_country_id': np.uint8,
#                   'prop_id': np.uint32,
#                   'prop_starrating': np.uint8,
#                   'prop_brand_bool': np.uint8,
#                   'promotion_flag': (np.uint8,
#                   'srch_destination_id': np.uint16,
#                   'srch_length_of_stay': np.uint16,
#                   'srch_booking_window': np.uint16,
#                   'srch_adults_count': np.uint8,
#                   'srch_children_count': np.uint8,  # 255 kids max should suffice
#                   'srch_room_count': np.uint8,
#                   'srch_saturday_night_bool': np.uint8,
#                   'random_bool': np.uint8,
#                   'position': np.uint8,
#                   'click_bool': np.uint8,
#                   'booking_bool': np.uint8}
#
# for i in range(1, 9):
#     optimal_dtypes[f'comp{i}_rate'] = np.int8,
#     optimal_dtypes[f'comp{i}_inv'] = np.int8,     # assignment does not specify -1 but is exists??
#     # competitor_dtypes[f'comp{i}_rate_percent_diff'] = np.uint


# dfn = df.dtypes(optimal_dtypes)
# print(dfn.dtypes)

## Exploration

### Count of unique values per column:

In [155]:
uniques = df.nunique()
display(uniques)

srch_id                        199795
date_time                      198615
site_id                            34
visitor_location_country_id       210
visitor_hist_starrating           312
visitor_hist_adr_usd             7799
prop_country_id                   172
prop_id                        129113
prop_starrating                     6
prop_review_score                  10
prop_brand_bool                     2
prop_location_score1              337
prop_location_score2             9342
prop_log_historical_price         392
position                           40
price_usd                       76465
promotion_flag                      2
srch_destination_id             18127
srch_length_of_stay                36
srch_booking_window               429
srch_adults_count                   9
srch_children_count                10
srch_room_count                     8
srch_saturday_night_bool            2
srch_query_affinity_score      199387
orig_destination_distance      530595
random_bool                         2
comp1_rate                          3
comp1_inv                           3
comp1_rate_percent_diff          1830
comp2_rate                          3
comp2_inv                           3
comp2_rate_percent_diff           596
comp3_rate                          3
comp3_inv                           3
comp3_rate_percent_diff           534
comp4_rate                          3
comp4_inv                           3
comp4_rate_percent_diff           482
comp5_rate                          3
comp5_inv                           3
comp5_rate_percent_diff           645
comp6_rate                          3
comp6_inv                           3
comp6_rate_percent_diff           380
comp7_rate                          3
comp7_inv                           3
comp7_rate_percent_diff           585
comp8_rate                          3
comp8_inv                           3
comp8_rate_percent_diff           491
click_bool                          2
gross_bookings_usd              60687
booking_bool                        2
dtype: int64

### % missing values per column

In [156]:
missing_percent = 100 * df.isnull().sum() / df.shape[0]
display(missing_percent)

filled_columns = missing_percent[missing_percent == 0].index.tolist()
print("Non-missing columns:")
display(filled_columns)

srch_id                         0.000000
date_time                       0.000000
site_id                         0.000000
visitor_location_country_id     0.000000
visitor_hist_starrating        94.920364
visitor_hist_adr_usd           94.897735
prop_country_id                 0.000000
prop_id                         0.000000
prop_starrating                 0.000000
prop_review_score               0.148517
prop_brand_bool                 0.000000
prop_location_score1            0.000000
prop_location_score2           21.990151
prop_log_historical_price       0.000000
position                        0.000000
price_usd                       0.000000
promotion_flag                  0.000000
srch_destination_id             0.000000
srch_length_of_stay             0.000000
srch_booking_window             0.000000
srch_adults_count               0.000000
srch_children_count             0.000000
srch_room_count                 0.000000
srch_saturday_night_bool        0.000000
srch_query_affinity_score      93.598552
orig_destination_distance      32.425766
random_bool                     0.000000
comp1_rate                     97.581250
comp1_inv                      97.387053
comp1_rate_percent_diff        98.095353
comp2_rate                     59.166392
comp2_inv                      57.036710
comp2_rate_percent_diff        88.781786
comp3_rate                     69.056462
comp3_inv                      66.702814
comp3_rate_percent_diff        90.464625
comp4_rate                     93.800797
comp4_inv                      93.069001
comp4_rate_percent_diff        97.356256
comp5_rate                     55.179155
comp5_inv                      52.403089
comp5_rate_percent_diff        83.036706
comp6_rate                     95.156511
comp6_inv                      94.736633
comp6_rate_percent_diff        98.060362
comp7_rate                     93.640058
comp7_inv                      92.811677
comp7_rate_percent_diff        97.206428
comp8_rate                     61.344900
comp8_inv                      59.916016
comp8_rate_percent_diff        87.602118
click_bool                      0.000000
gross_bookings_usd             97.208949
booking_bool                    0.000000
dtype: float64

Non-missing columns:

['srch_id',
 'date_time',
 'site_id',
 'visitor_location_country_id',
 'prop_country_id',
 'prop_id',
 'prop_starrating',
 'prop_brand_bool',
 'prop_location_score1',
 'prop_log_historical_price',
 'position',
 'price_usd',
 'promotion_flag',
 'srch_destination_id',
 'srch_length_of_stay',
 'srch_booking_window',
 'srch_adults_count',
 'srch_children_count',
 'srch_room_count',
 'srch_saturday_night_bool',
 'random_bool',
 'click_bool',
 'booking_bool']

### Searches per website

In [157]:
groupby_website = df.groupby('site_id')['srch_id'].nunique() / df['srch_id'].nunique()

site_searches =  groupby_website.sort_values(ascending=False)
display(site_searches)
# site 5 == 'expedia.com'??

site_id
5     0.609845
14    0.096849
15    0.063645
24    0.050502
32    0.035406
18    0.027198
16    0.019370
12    0.015841
19    0.010070
22    0.009194
9     0.009054
11    0.007092
7     0.006572
29    0.006256
31    0.005656
26    0.003348
4     0.002768
25    0.002658
23    0.002528
1     0.002518
34    0.002087
10    0.001962
13    0.001782
17    0.001296
2     0.001216
27    0.001146
28    0.000936
30    0.000861
21    0.000756
3     0.000746
6     0.000636
33    0.000165
20    0.000035
8     0.000005
Name: srch_id, dtype: float64

### Clicks/Books per position, grouped by random_bool

In [158]:
# groupby_random_bool = df.groupby('random_bool')[['click_bool', 'booking_bool']].count()
groupby_position = df.groupby(['random_bool', 'position'])[['click_bool', 'booking_bool']].sum()
groupby_random_bool = groupby_position.groupby('random_bool').sum()
click_book_ratio = groupby_position / groupby_random_bool
display(groupby_position)
display(groupby_random_bool)
display(click_book_ratio)

                      click_bool  booking_bool
random_bool position
0           1              29908         27014
            2              20271         17976
            3              15381         13385
            4              12267         10593
            5                149            98
...                          ...           ...
1           36               308            25
            37               157            12
            38                32             4
            39                 7             2
            40                 0             0

[80 rows x 2 columns]

             click_bool  booking_bool
random_bool
0                153502        130578
1                 68377          7812

                      click_bool  booking_bool
random_bool position
0           1           0.194838      0.206880
            2           0.132057      0.137665
            3           0.100201      0.102506
            4           0.079914      0.081124
            5           0.000971      0.000751
...                          ...           ...
1           36          0.004504      0.003200
            37          0.002296      0.001536
            38          0.000468      0.000512
            39          0.000102      0.000256
            40          0.000000      0.000000

[80 rows x 2 columns]

### Location distributions

In [159]:
groupby_home_country = df.groupby('visitor_location_country_id')['srch_id'].nunique()
distribution_home_country = 100 * (groupby_home_country / df['srch_id'].nunique()).sort_values(ascending=False)
display(distribution_home_country)
# Country 219 == USA??
# Country 100 == UK?? => Ursu (2015) suggests South-korea

groupby_prop_country = df.groupby('prop_country_id')['srch_id'].nunique()
distribution_prop_country = 100 * (groupby_prop_country / df['srch_id'].nunique()).sort_values(ascending=False)
display(distribution_prop_country)

groupby_destination_id = df.groupby('srch_destination_id')['srch_id'].nunique()
distribution_destination_id = 100 * (groupby_destination_id / df['srch_id'].nunique()).sort_values(ascending=False)
display(distribution_destination_id)

# 8192 == NYC??
# 4562 == LA?? Miami??

visitor_location_country_id
219    57.151580
100     9.974724
55      5.956606
216     4.602217
220     3.479066
         ...
67      0.000501
83      0.000501
94      0.000501
101     0.000501
58      0.000501
Name: srch_id, Length: 210, dtype: float64

prop_country_id
219    59.694687
100     6.304963
55      3.899997
31      3.142221
99      2.876949
         ...
7       0.001001
165     0.001001
204     0.000501
135     0.000501
126     0.000501
Name: srch_id, Length: 172, dtype: float64

srch_destination_id
8192     1.233264
4562     1.020046
9402     0.689707
10979    0.620136
8347     0.596612
           ...
19543    0.000501
19542    0.000501
19540    0.000501
9199     0.000501
14212    0.000501
Name: srch_id, Length: 18127, dtype: float64

### Drop Columns

In [160]:
competitor_cols = []
for i in range(1, 9):
    competitor_cols += [f'comp{i}_rate', f'comp{i}_inv', f'comp{i}_rate_percent_diff']
drop_cols = competitor_cols + ['gross_bookings_usd', 'position']

df_stage1 = df.drop(columns=drop_cols)

### More Drops:

In [161]:
# left-over with missings
left_overs = [col
              for col in df_stage1.columns
              if not col in filled_columns]
print("Left-over columns for drop/imputation")
display(missing_percent[left_overs])
drop_cols_extra = ['visitor_hist_starrating', 'visitor_hist_adr_usd', 'srch_query_affinity_score']  # voor nu even droppen
df_stage1.drop(columns=drop_cols_extra, inplace=True)

Left-over columns for drop/imputation

visitor_hist_starrating      94.920364
visitor_hist_adr_usd         94.897735
prop_review_score             0.148517
prop_location_score2         21.990151
srch_query_affinity_score    93.598552
orig_destination_distance    32.425766
dtype: float64

## Fill Na
### TODO: prop_review_score use lower quantile impute? per DMT 2020 group 95
#### prop_location_score2 imputed per country, lower quantile as baseline => cited by group 95 and Liu et al

In [162]:
df_stage1['prop_review_score'] = df_stage1['prop_review_score'].fillna(0)   # set no available to 0 reviews

prop_score = df_stage1.groupby('prop_id')['prop_review_score'].max()
no_reviews = prop_score[prop_score == 0].index
print(f"% properties with no reviews {100 * len(no_reviews) / len(prop_score)}")

% properties with no reviews 24.453773051513014

### Orig_destination_distance completion:

In [171]:
print(df.columns)
srch_grouped = df.groupby('srch_id')['visitor_location_country_id', 'prop_country_id', 'prop_id', 'srch_destination_id',
'orig_destination_distance'].first()
display(srch_grouped.head(10))

Index(['srch_id', 'date_time', 'site_id', 'visitor_location_country_id',
       'visitor_hist_starrating', 'visitor_hist_adr_usd', 'prop_country_id',
       'prop_id', 'prop_starrating', 'prop_review_score', 'prop_brand_bool',
       'prop_location_score1', 'prop_location_score2',
       'prop_log_historical_price', 'position', 'price_usd', 'promotion_flag',
       'srch_destination_id', 'srch_length_of_stay', 'srch_booking_window',
       'srch_adults_count', 'srch_children_count', 'srch_room_count',
       'srch_saturday_night_bool', 'srch_query_affinity_score',
       'orig_destination_distance', 'random_bool', 'comp1_rate', 'comp1_inv',
       'comp1_rate_percent_diff', 'comp2_rate', 'comp2_inv',
       'comp2_rate_percent_diff', 'comp3_rate', 'comp3_inv',
       'comp3_rate_percent_diff', 'comp4_rate', 'comp4_inv',
       'comp4_rate_percent_diff', 'comp5_rate', 'comp5_inv',
       'comp5_rate_percent_diff', 'comp6_rate', 'comp6_inv',
       'comp6_rate_percent_diff', 'comp7_rate', 'comp7_inv',
       'comp7_rate_percent_diff', 'comp8_rate', 'comp8_inv',
       'comp8_rate_percent_diff', 'click_bool', 'gross_bookings_usd',
       'booking_bool'],
      dtype='object')

C:\Users\Titus\Anaconda3\envs\dmt3\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

,visitor_location_country_id,prop_country_id,prop_id,srch_destination_id,orig_destination_distance
srch_id,,,,,
1,187,219,893,23246,NaN
4,219,219,3625,12588,238.35
6,100,100,10759,21106,652.84
8,219,219,10250,7082,5.40
11,219,219,6492,12610,284.56
12,219,158,7814,26648,9270.55
17,129,31,2196,6285,433.61
21,55,216,6225,18161,NaN
25,219,219,2863,3735,766.18
28,219,219,5739,24232,116.36

In [178]:
# Test if this is country to country distance:
same_country = srch_grouped[srch_grouped['visitor_location_country_id'] == srch_grouped['prop_country_id']]
same_country_dist = same_country.groupby('visitor_location_country_id')['orig_destination_distance'].agg(['mean', 'std'])

relative_dist_std = same_country_dist['std'] / same_country_dist['mean']
display(relative_dist_std)
display(relative_dist_std[~relative_dist_std.isnull()])

# Contains large distances thus not country-country distance

visitor_location_country_id
1           NaN
2           NaN
4      0.270093
9           NaN
10     2.129486
         ...
221         NaN
223         NaN
224         NaN
229         NaN
230         NaN
Length: 112, dtype: float64

visitor_location_country_id
4      0.270093
10     2.129486
31     0.705495
32     0.841692
50     1.002795
53     0.006011
55     0.766841
59     0.934761
100    1.510248
129    0.551630
158    0.877572
202    0.541477
215    0.804445
219    1.248095
220    1.084706
dtype: float64

In [238]:
# use median distance country-country to impute distance
df_country_dist = df[['visitor_location_country_id', 'prop_country_id', 'orig_destination_distance']]
df_country_dist = df_country_dist.set_index(['visitor_location_country_id', 'prop_country_id']).sort_index().dropna()

visitor_location_country_id  prop_country_id
4                            4                  [137.24, 137.34, 137.07, 131.35, 136.97, 136.8...
                             55                 [355.79, 355.81, 355.8, 355.59, 355.49, 354.99...
                             73                 [557.25, 557.51, 557.53, 557.55, 557.33, 557.6...
                             98                 [6511.16, 6511.41, 6509.74, 6511.7, 6511.49, 6...
                             99                 [519.89, 520.53, 520.7, 520.01, 519.91, 520.24...
                                                                      ...
220                          221                [10012.08, 10014.33, 10011.54, 10014.75, 10012...
                             223                [9623.59, 9623.33, 9620.92, 9624.69, 9623.45, ...
                             224                [4349.86, 4348.96, 4348.99, 4348.04, 4349.36, ...
                             225                [4488.22, 4490.26, 4486.44, 4487.64, 4488.57, ...
                             229                [8481.09, 8525.5, 8485.31, 8480.76, 8474.94, 8...
Name: orig_destination_distance, Length: 839, dtype: object

In [257]:
combin_dist = df_country_dist.groupby(['visitor_location_country_id', 'prop_country_id'])['orig_destination_distance'].apply(np.array)

# concat (a, b) and (b, a) distances:
c2c_arrays = dict()
for i, (c1, c2) in enumerate(combin_dist.index):
    vDist = combin_dist.values[i]

    if (c2, c1) in c2c_arrays:
        c2c_arrays[(c2, c1)] = np.append(c2c_arrays[(c2, c1)], vDist)
        continue

    c2c_arrays[c1, c2] = vDist

c2c_median = [dict(c1=c1, c2=c2, median_dist=np.median(vDist)) for (c1, c2), vDist in c2c_arrays.items()]

In [272]:
df_c2c_median = pd.DataFrame(c2c_median)

# concat df with swapped c1, c2 to accomodate simple merge
df_c2c_median2 = pd.concat([df_c2c_median, df_c2c_median.rename(columns={'c1': 'c2', 'c2': 'c1'})], axis=0).drop_duplicates()

print(df_c2c_median.shape[0])
print(df_c2c_median2.shape[0])
display(df_c2c_median.head(5))

example = df_c2c_median2[((df_c2c_median2['c1'] == 4) & (df_c2c_median2['c2'] == 55)) | ((df_c2c_median2['c1'] == 55) & (df_c2c_median2['c2'] == 4)) ]
display(example)

791
1567

   c1  c2      dist
0   4   4   137.005
1   4  55   355.590
2   4  73   557.550
3   4  98  6509.850
4   4  99   862.630

   c1  c2    dist
1   4  55  355.59
1  55   4  355.59

In [278]:
df_joint_dist = pd.merge(df_stage1, df_c2c_median2, left_on=['visitor_location_country_id', 'prop_country_id'], right_on=['c1', 'c2'], how='left')

In [282]:
nan_mask = df_joint_dist['orig_destination_distance'].isnull()
df_joint_dist.loc[nan_mask, 'orig_destination_distance'] = df_joint_dist.loc[nan_mask, 'median_dist']

missing = df_joint_dist['orig_destination_distance'].isnull().sum() / df_joint_dist.shape[0]
print(missing)
display(df_joint_dist.columns)

0.09513815793852266

Index(['srch_id', 'date_time', 'site_id', 'visitor_location_country_id',
       'prop_country_id', 'prop_id', 'prop_starrating', 'prop_review_score',
       'prop_brand_bool', 'prop_location_score1', 'prop_location_score2',
       'prop_log_historical_price', 'price_usd', 'promotion_flag',
       'srch_destination_id', 'srch_length_of_stay', 'srch_booking_window',
       'srch_adults_count', 'srch_children_count', 'srch_room_count',
       'srch_saturday_night_bool', 'orig_destination_distance', 'random_bool',
       'click_bool', 'booking_bool', 'c1', 'c2', 'dist'],
      dtype='object')

### Still 10% missing distances
#### TODO: use median of median to complete nan's

In [164]:
# grouped by 'srch_destination_id' (city) would be more precise, but still has some NaN's
country_score2 = df_stage1.groupby('prop_country_id')['prop_location_score2'].quantile(0.25)

score2_country_join = pd.merge(df_stage1, country_score2, on='prop_country_id', how='left')['prop_location_score2_y']
print(f"Still {score2_country_join.isnull().sum()} unsolved NaN's")

# Fill 2 left-overs
score2_country_join[score2_country_join.isnull()] = country_score2.mean()
print(f"Still {score2_country_join.isnull().sum()} unsolved NaN's")

df_stage2 = df_stage1.copy()
nan_mask = df_stage2['prop_location_score2'].isnull()
display(nan_mask)
df_stage2.loc[nan_mask, 'prop_location_score2'] = score2_country_join[nan_mask]

Still 2 unsolved NaN's
Still 0 unsolved NaN's

0          False
1          False
2          False
3          False
4          False
           ...
4958342    False
4958343    False
4958344    False
4958345    False
4958346     True
Name: prop_location_score2, Length: 4958347, dtype: bool

In [165]:
# TODO: Impute distance matrix using shortest path
# drop for now
df_stage2.drop(columns=['orig_destination_distance'], inplace=True)

In [166]:
# Group 95 does not give an alpha => this needs reasoning
alpha = 0.01
price_usd = df_stage2['price_usd']
price_usd_winsorized = price_usd.clip(lower=price_usd.quantile(alpha), upper=price_usd.quantile(1-alpha))

display(price_usd_winsorized)
outliers = price_usd[price_usd != price_usd_winsorized]
display(outliers)

df_stage3 = df_stage2.copy()
df_stage3['price_usd'] = price_usd_winsorized

0          104.77
1          170.74
2          179.80
3          599.00
4          143.58
            ...
4958342    118.00
4958343     89.00
4958344     99.00
4958345    139.00
4958346     61.00
Name: price_usd, Length: 4958347, dtype: float64

3          602.77
32         600.00
126         29.00
130         29.00
137         32.00
            ...
4958162     23.92
4958164     26.79
4958168     33.49
4958300     24.15
4958305     30.31
Name: price_usd, Length: 98760, dtype: float64

## Temporary output

In [167]:
missing_percent = 100 * df_stage3.isnull().sum() / df_stage3.shape[0]
print("% missing:")
display(missing_percent)

df_stage3.to_pickle('df_temporary.pkl')

% missing:

srch_id                        0.0
date_time                      0.0
site_id                        0.0
visitor_location_country_id    0.0
prop_country_id                0.0
prop_id                        0.0
prop_starrating                0.0
prop_review_score              0.0
prop_brand_bool                0.0
prop_location_score1           0.0
prop_location_score2           0.0
prop_log_historical_price      0.0
price_usd                      0.0
promotion_flag                 0.0
srch_destination_id            0.0
srch_length_of_stay            0.0
srch_booking_window            0.0
srch_adults_count              0.0
srch_children_count            0.0
srch_room_count                0.0
srch_saturday_night_bool       0.0
random_bool                    0.0
click_bool                     0.0
booking_bool                   0.0
dtype: float64

AttributeError: 'DataFrame' object has no attribute 'to_pikle'

Check class inbalance:

In [ ]:
df.groupby('click_bool')['srch_id'].count()

In [ ]:
df.groupby('booking_bool')['srch_id'].count()

In [ ]:
print('Total instances not clicked and not booked = ', df.groupby('click_bool')['srch_id'].count()[0])
print('Total instances clicked but not booked = ', (df.groupby('click_bool')['srch_id'].count()[1]-df.groupby('booking_bool')['srch_id'].count()[1]))
print('Total instances clicked and booked = ', df.groupby('booking_bool')['srch_id'].count()[1])

In [ ]:
#Check if it is true that all instances booked are also clicked:
df[df['booking_bool']==1]['click_bool'].describe()

In [ ]:
def boxplot_compare(column):
    not_clicked_not_booked = df.loc[(df.click_bool==0) & (df.booking_bool==0)][column]
    clicked_not_booked = df.loc[(df.click_bool==1) & (df.booking_bool==0)][column]
    clicked_and_booked = df.loc[df.booking_bool==1][column]
    
    plt.figure(figsize=(16,8))
    sns.boxplot(data=[not_clicked_not_booked, clicked_not_booked, clicked_and_booked])
    plt.xticks(plt.xticks()[0], ['Not clicked or booked', 'Clicked but not booked', 'Booked'])

In [ ]:
boxplot_compare('position')

In [ ]:
boxplot_compare('prop_starrating')

In [ ]:
boxplot_compare('prop_review_score')

In [ ]:
boxplot_compare('prop_location_score1')

In [ ]:
df.groupby('booking_bool')['promotion_flag'].mean()

In [ ]:
df.groupby('click_bool')['promotion_flag'].mean()

Check if there is a correlation between variables and position:

In [ ]:
df_non_random = df[df['random_bool']==0]

In [ ]:
sns.boxplot(x='prop_review_score', y='position', data=df_non_random)

In [ ]:
sns.boxplot(x='prop_starrating', y='position', data=df_non_random)

### Bookings seasonality

In [ ]:
df_stage3['checkin_date'] = df_stage3['date_time'] + pd.to_timedelta(df_stage3['srch_booking_window'], unit='D')  # speedup with vectorize?,
display(df_stage3[['date_time', 'checkin_date']])
df_stage3['checkin_weeknr'] = df_stage3['checkin_date'].dt.isocalendar().week

groupby_weeknr = df_stage3.groupby('checkin_weeknr')['srch_id'].nunique()
distr_weeknr = groupby_weeknr / df_stage3['srch_id'].nunique()
display(groupby_weeknr)

import matplotlib.pyplot as plt
fig = plt.figure()
ax = fig.add_axes([0,0,1,1])
x = distr_weeknr.index.tolist()
y = distr_weeknr.values

ax.bar(x, y, 0.1, color='r')
ax.set_ylabel('Booking Ratio')
ax.set_xlabel('Week Nr.')
ax.set_title('Bookings Seasonality')
plt.show()

### Date Features

In [ ]:
def mine_date_features(dt_series, prefix=''):
        df = pd.DataFrame()
        df['weekday'] = dt_series.dt.weekday
        df['monthday'] = dt_series.dt.day
        df['month'] = dt_series.dt.month
        df['week'] = dt_series.dt.week
        df['year'] = dt_series.dt.year
    
        df.columns = list(map(lambda s: prefix + s, df.columns.tolist()))
        return df

# Feature engineering:

In [ ]:
df_stage3['checkout_date'] = df_stage3['checkin_date'] + pd.to_timedelta(df_stage3['srch_length_of_stay'], unit='D')

df_srchdate_features = mine_date_features(df_stage3['date_time'], prefix='srchdate_')
df_srchdate_features['srchdate_hour'] = df_stage3['date_time'].dt.hour

df_checkin_features = mine_date_features(df_stage3['checkin_date'], prefix='checkin_')
df_checkout_features = mine_date_features(df_stage3['checkout_date'], prefix='checkout_')

df_stage4 = pd.concat([df_stage3, df_srchdate_features, df_checkin_features, df_checkout_features], axis=1)
display(df_srchdate_features)
display(df_checkin_features)
display(df_checkout_features)

In [ ]:
print(df_stage4.columns)
from_usa_mask = df_stage4['visitor_location_country_id'] == 219
usa_searches = df_stage4[from_usa_mask]
other_searches = df_stage4[~from_usa_mask]

In [ ]:
# USA
usa_srchhours = usa_searches.groupby('srchdate_hour')['srch_id'].nunique()
usa_srch_distribution = usa_srchhours / usa_searches['srch_id'].nunique()

import matplotlib.pyplot as plt
fig = plt.figure()
ax = fig.add_axes([0,0,1,1])
x = usa_srch_distribution.index.tolist()
y = usa_srch_distribution.values

ax.bar(x, y, 0.1, color='r')
ax.set_ylabel('Search Ratio')
ax.set_xlabel('Hour of Day')
ax.set_title('Search Frequency Intraday (USA)')
plt.show()

# TODO: compare

In [ ]:
# Other origin countries
other_srchhours = other_searches.groupby('srchdate_hour')['srch_id'].nunique()
other_srch_distribution = other_srchhours / other_searches['srch_id'].nunique()


import matplotlib.pyplot as plt
fig = plt.figure()
ax = fig.add_axes([0,0,1,1])
x = other_srch_distribution.index.tolist()
y = other_srch_distribution.values

ax.bar(x, y, 0.1, color='r')
ax.set_ylabel('Search Ratio')
ax.set_xlabel('Hour of Day')
ax.set_title('Search Frequency Intraday (Others)')
plt.show()

#### Time could be in local timezone but the distributions should be equal in that case
#### USA not suitable for comparison due to different time zones between East/West coast
#### ML model could derive relation hour of day and the origin country
#### Time zone could use indebt analysis

### Count # of weekdays contained in booking_window (i.e. Sun: 1, Sat: 1, mon: 1, tue: 0, wed: 0 ...)

In [ ]:
import calendar
def dayofweek_count(dt_start, dt_end):
    dt_range = pd.date_range(dt_start, dt_end, freq='d')

    cnt = {day: 0 for day in calendar.day_name}
    for date in dt_range:
        cnt[date.day_name()] += 1
    return pd.Series(cnt)


srch_grouped = df_stage4.groupby('srch_id').first()
srch_window = pd.DataFrame(srch_grouped[['checkin_date', 'checkout_date']])
display(srch_window)

In [ ]:
srch_daycounts = srch_window.apply(lambda df: dayofweek_count(df['checkin_date'], df['checkout_date']), axis=1)

display(srch_daycounts)

In [ ]:
df_stage5 = pd.merge(df_stage4, srch_daycounts, on='srch_id', how='left')
display(df_stage5.head())

In [ ]:
# Check if join is correct
print(df_stage4.shape)
print(df_stage5.shape)
missings = df_stage5[list(calendar.day_name)].isnull().sum() / df_stage5.shape[0]
print(missings)

### Holiday Features (if contained in booking window)

In [ ]:
import holidays
holidays = holidays.UnitedStates(years=[2012, 2013, 2014])  # easter is missing but fuck that

In [ ]:
from collections import defaultdict
def booking_contains_holidays(dt_start, dt_end, holidays):
    dt_range = [dt.date() for dt in pd.date_range(dt_start, dt_end, freq='D')]

    contained = defaultdict(bool)
    for dt_holiday, name_holiday in holidays.items():
        if contained[name_holiday]: # prevents override of holiday from another year
            continue

        contained[name_holiday] = dt_holiday in dt_range
    return pd.Series(contained)

In [ ]:
srch_holidays = srch_window.apply(lambda df: booking_contains_holidays(df['checkin_date'], df['checkout_date'], holidays), axis=1)

In [ ]:
nr_of_holidays = (srch_holidays == True).sum()
print(nr_of_holidays)

In [ ]:
df_stage6 = pd.merge(df_stage5, srch_holidays, on='srch_id', how='left')

### Pricing features

#### Last known property price + difference

In [ ]:
df_prop = df[['prop_id', 'srch_id', 'date_time', 'price_usd']].sort_values(['prop_id', 'date_time'])

df_prop['last_price'] = df_prop.groupby('prop_id')['price_usd'].shift().fillna(df_prop['price_usd'])  # use same price
df_prop['diff_last_price'] = (df_prop['price_usd'] - df_prop['last_price']) / df_prop['last_price']
display(df_prop.head())

#### Expanded min, max, median, std, mean + their difference

In [ ]:
def percentile(n):
    def percentile_(x):
        return np.percentile(x, n)
    percentile_.__name__ = f'percentile_{x}%'
    return percentile_

In [ ]:
aggregates = {f'{fn}_price': fn
              for fn in ['min', 'max', 'median', 'std', 'mean', 'count']}
aggregates.update({'price_percentile_25%': percentile(25), 'price_percentile_75%': percentile(75)})

df_prop[list(aggregates.keys())] = df_prop.groupby('prop_id')['price_usd'].expanding().agg(list(aggregates.values())).fillna(0).values

In [ ]:
diff_ignore = ['std', 'count']
for col_name, fn in aggregates.items():
    if fn in diff_ignore:  # doesn't make sense
        continue

    df_prop[f'diff_{col_name}'] = (df_prop['price_usd'] - df_prop[col_name]) / df_prop[col_name]

print(df_prop.shape)
display(df_prop.head(65))

In [ ]:
df_stage7 = pd.merge(df_stage6, df_prop, on=['srch_id', 'prop_id', 'date_time'], how='left')
print(df_stage7.shape)
display(df_stage7.head(65))

## Features output

In [ ]:
df_stage7.to_pickle('df_features.pkl')

In [ ]:
# TODO: price difference whole dataset => Ursu (2015) suggests cheaper properties have more clicks